.highscoreContainer{
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highscoreHeader {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #dddddde0;
  text-align: center;
}

.highscoreWpmDiv {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.tableStyle{
  width: 80%;
  font-size: 20px;

}